/* Define CSS variables first */
:root {
    --orange: #ffa500; /* Added missing variable */
}

/* Font declaration should be at top */
@font-face {
    font-family: 'my font';
    src: url('../statik/font/arial.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'my font';
}

.img {
    width: 80px;
    height: 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background-color: rgb(84, 84, 248);
    padding: 20px;
}

a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    transition: 0.4s;
}

.site-name {
    margin: 0px 0px 0px 250px;
}

a:hover {
    color: white;
    background-color: rgb(84, 84, 248);
    border: 3px solid white;
}

.my-section {
    display: grid;
    grid-template-columns: 1fr;
}

.but {
    margin: 100px auto;
    width: 150px;
    height: 50px;
    background-color: rgb(85, 0, 255);
    border-radius: 10px;
    transition: 0.4s;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.but:hover {
    scale: 1.04;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center; /* Changed from 'row' to 'center' */
    padding: 5px;
    margin: 10px;
    border-radius: 2px;
}

input {
    padding: 5px;
    margin: 10px;
    border-radius: 2px;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-img {
    width: 30px;
    height: 30px;
}

.all-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.box-one {
    background-color: rgb(62, 143, 255);
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: 0.4s;
    margin: 50px;
}

.box-one:hover {
    scale: 1.04;
    box-shadow: black 2px 10px 15px 2px;
}

.box-two {
    background-color: rgb(62, 143, 255);
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: 0.4s;
    margin: 50px;
}

.box-two:hover {
    scale: 1.04;
    box-shadow: black 2px 10px 15px 2px;
}

/* Fixed class name from box-tree to box-three */
.box-three {
    background-color: rgb(62, 143, 255);
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: 0.4s;
    margin: 50px;
}

.box-three:hover {
    scale: 1.04;
    box-shadow: black 2px 10px 15px 2px;
}

.box-four {
    background-color: rgb(62, 143, 255);
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: 0.4s;
    margin: 50px;
}

.box-four:hover {
    scale: 1.04;
    box-shadow: black 2px 10px 15px 2px;
}

.mobile-menu-button {
    display: none;
    rotate: 90deg;
    scale: 2.5;
    cursor: pointer;
}

.mobile-menu-button-close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--orange); /* Now this variable exists */
    scale: 2;
    cursor: pointer;
    display: none; /* Added initial state */
}

.mobile-menu {
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: 4px 4px 20px 20px rgba(0, 0, 0, 0.484);
    position: fixed;
    top: 0;
    left: -500px; /* Start off-screen */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all 0.5s;
    z-index: 1000; /* Added z-index */
}

/* Class to show mobile menu */
.mobile-menu-open {
    left: 0px; /* Bring into view */
}

@media (max-width: 1100px) {
    .all-box {
        grid-template-columns: 1fr;
    }    
}

@media (max-width: 800px) {
    .links {
        display: none;
    }
    .img {
        display: none;
    }
    .mobile-menu-button {
        display: block;
    }
    
    /* Show close button when menu is open */
    .mobile-menu-open .mobile-menu-button-close {
        display: block;
    }
}

/* Replace your existing mobile menu CSS with this */

.mobile-menu-button {
    display: none;
    rotate: 90deg;
    scale: 2.5;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}

.mobile-menu-button-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--orange);
    scale: 2;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    z-index: 1001;
    display: none; /* Initially hidden */
}

.mobile-menu {
    width: 300px;
    height: 100vh;
    background-color: white;
    box-shadow: 4px 4px 20px 20px rgba(0, 0, 0, 0.484);
    position: fixed;
    top: 0;
    left: -400px; /* Start off-screen */
    padding: 60px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}

/* Class to show mobile menu */
.mobile-menu-open {
    left: 0px; /* Bring into view */
}

/* Show close button when menu is open */
.mobile-menu-open .mobile-menu-button-close {
    display: block;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.mobile-links a {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    display: block;
    width: 100%;
    border: 2px solid transparent;
}

.mobile-links a:hover {
    border: 2px solid rgb(84, 84, 248);
}

@media (max-width: 800px) {
    .links {
        display: none;
    }
    
    .img {
        display: none;
    }
    
    .mobile-menu-button {
        display: block;
    }
}